body{
    margin: var(--metric-box-spacing);
    background-color: rgb(235, 211, 211);
}
:is(h1,h2,h3,p,li,article){
    max-inline-size: initial;
    margin-block-start: var(--metric-box-spacing);
}

@media(min-width:50em){
    article{
        column-count: 2;
    }
}